$xl-inner-width: 1160px;
$lg-inner-width: 960px;
$md-inner-width: 760px;
$sm-inner-width: 560px;

$xl-breakpoint: 1200px;
$lg-breakpoint: 1000px;
$md-breakpoint: 800px;
$sm-breakpoint: 600px;

$theme-1: #faf9f9;
$theme-2: #7ec8c8;
// $theme-3: #e94e4e;
$theme-3: #ff9200;
$theme-4: #bd4c4d;
$theme-5: #2f2f41;

$hero: #2e8c6e;
$hero-font: #fff;
// $hero-bg: lighten($hero, 50%);
$hero-bg: #333333;
$hero-font: #fff;

$header-link: #fff;
$header-link-scrolled: $hero-bg;
$header-link-active: #999;
$header-height: 120px;

$footer-bg: #262626;
$footer-font: #fff;
$footer-link-color: #ccc;

$default-font-color: #808080;
$default-heading-color: #000;
$default-bg-color: #f0f0f0;
$default-border-color: #ddd;
$default-link-color: $theme-1;

$call-to-action-bg: #333333;
$call-to-action-heading: #fff;

$light-bg: #fff;

$hr-color: #eee;
