@mixin hero-text-animation {
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@mixin media-sizes {
  transition: width 0.3s linear;

  @media (max-width: $sm-breakpoint) {
    width: initial;
  }

  @media (min-width: $sm-breakpoint) {
    width: $sm-inner-width;
  }

  @media (min-width: $md-breakpoint) {
    width: $md-inner-width;
  }

  @media (min-width: $lg-breakpoint) {
    width: $lg-inner-width;
  }

  @media (min-width: $xl-breakpoint) {
    width: $xl-inner-width;
  }
}

@mixin min-size($type: 'xl') {
  @if $type == xs {
    @media (max-width: $sm-breakpoint) {
      @content;
    }
  } @else if $type == sm {
    @media (min-width: $sm-breakpoint) {
      @content;
    }
  } @else if $type == md {
    @media (min-width: $md-breakpoint) {
      @content;
    }
  } @else if $type == lg {
    @media (min-width: $lg-breakpoint) {
      @content;
    }
  } @else if $type == xl {
    @media (min-width: $xl-breakpoint) {
      @content;
    }
  }
}

@mixin max-size($type: 'xl') {
  @if $type == xs {
    @media (max-width: $sm-breakpoint) {
      @content;
    }
  } @else if $type == sm {
    @media (max-width: $sm-breakpoint) {
      @content;
    }
  } @else if $type == md {
    @media (max-width: $md-breakpoint) {
      @content;
    }
  } @else if $type == lg {
    @media (max-width: $lg-breakpoint) {
      @content;
    }
  } @else if $type == xl {
    @media (max-width: $xl-breakpoint) {
      @content;
    }
  }
}

@mixin text-hover($color, $hover-color) {
  color: $color;
  transition: color 0.2s;

  &:hover {
    color: $hover-color !important;
  }
}
