@font-face {
  font-family: 'Noto-Sans';
  src: url('../fonts/NotoSans-Regular.ttf');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('../fonts/NotoSans-RegularItalic.ttf');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('../fonts/NotoSans-Bold.ttf');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('../fonts/NotoSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 100;
  font-display: fallback;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: 900;
  font-display: fallback;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $default-bg-color;
  color: $default-font-color;
  font-family: 'Noto-Sans', -apple-system, system-ui, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 34px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-heading-color;
  font-family: 'Open Sans';
  font-weight: 100;
  letter-spacing: -0.03em;
  margin-top: 0;
}

.logo,
h1 {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 50px;
  margin: 0;
  text-align: center;
  // @include hero-text-animation;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: $theme-3;
}

h2 {
  font-size: 40px;
  text-align: center;
}

h3 {
  color: #333;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: -0.04em;
  line-height: 42px;
  margin-bottom: 20px;
  margin-top: 60px;
}

a {
  text-decoration: none;

  &.btn {
    border: 2px solid transparent;
    border-radius: 30px;
    box-sizing: border-box;
    color: $footer-font;
    display: inline-block;
    font-size: 13px;
    padding: 9px 22px;
    text-decoration: none;
    transition: all 0.2s;

    &:visited {
      color: $footer-font;
    }

    &.theme-1 {
      border: 2px solid $theme-3;
      color: $footer-font;

      &:hover {
        background-color: $theme-3;
        border: 2px solid $theme-3;
      }
    }

    &.theme-2 {
      border: 2px solid $theme-2;
      color: $footer-font;

      &:hover {
        background-color: $theme-2;
        border: 2px solid $theme-2;
      }
    }
  }
}

p {
  font-size: 18px;
}

hr {
  border: 0;
  border-bottom: 1px solid $hr-color;
  display: block;
  height: 1px;
  margin: 60px 0;
  padding: 0;
}

.pad-right {
  margin-right: 20px;
}

.content-block {
  padding: 100px 0;

  a {
    color: $default-font-color;
    border-bottom: 1px dotted $default-font-color;

    &:hover {
      color: $theme-3;
      border-bottom: 1px solid $theme-3;
    }
  }

  &.header-offset {
    margin-top: $header-height;
  }
}

.light-block {
  background-color: $light-bg;
  border-bottom: 1px solid $default-border-color;
  border-top: 1px solid $default-border-color;

  &.no-border {
    border-bottom: 0;
  }
}

.testimonial {
  margin: 0 80px;

  h4 {
    font-size: 34px;
    text-align: center;
    line-height: 44px;
  }

  p {
    text-align: center;

    strong {
      color: #000;
    }
  }
}

.nav__link {
  border: 2px solid transparent;
  border-radius: 30px;
  margin-left: 10px;
  padding: 6px 22px;
  transition: all 0.2s;
  color: $header-link;

  &:hover {
    border: 2px solid $header-link-active;
  }

  &.active--exact {
    background-color: $header-link-active;
    border: 2px solid $header-link-active;
    color: white;
  }

  &.highlight {
    border: 2px solid $theme-3;

    &:hover {
      color: white;
      background-color: $theme-3;
      border: 2px solid $theme-3;
    }

    &.active--exact {
      background-color: $theme-3;
    }
  }
}

.c2a {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.form {
  flex: 1;

  .field {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 20px;
    }

    input,
    textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      padding: 7px;
      width: 100%;
    }

    button {
      background-color: $hero;
      border-radius: 30px;
      border: 0;
      color: $hero-font;
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;
      width: 100%;
      padding: 10px 15px;
      text-align: center;

      &:hover {
        background-color: lighten($hero, 3%);
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    &.no-show {
      display: none;
    }
  }

  .error {
    color: red;
  }
}
