<template>
  <ContentLayout>
    <template #hero-text>
      <h1>
        {{ $page.contact.heading }}
      </h1>

      <p>
        Contact us today for any questions you may have.
      </p>
    </template>

    <div v-html="$page.contact.content" />

    <p v-html="address"></p>

    <p>
      <a :href="'mailto:' + $page.contact.email">{{ $page.contact.email }} </a>
    </p>
    <p>
      <a :href="'tel:' + $page.contact.phone">{{ $page.contact.phone }}</a>
    </p>

    <div class="icons">
      <div class="link">
        <a
          :href="$page.contact.twitter"
          target="_blank"
          aria-label="Twitter"
          rel="noreferrer"
        >
          <Icon :icon="twitterIcon" :height="24" :width="24" />
        </a>
      </div>

      <div class="link social">
        <a
          :href="$page.contact.facebook"
          target="_blank"
          aria-label="Facebook"
          rel="noreferrer"
        >
          <Icon :icon="facebookIcon" :height="18" :width="18" />
        </a>
      </div>

      <div class="link">
        <a
          :href="$page.contact.instagram"
          target="_blank"
          aria-label="Instagram"
          rel="noreferrer"
        >
          <Icon :icon="instaIcon" :height="24" :width="24" />
        </a>
      </div>

      <div class="link">
        <a
          :href="$page.contact.linkedin"
          target="_blank"
          aria-label="LinkedIn"
          rel="noreferrer"
        >
          <Icon :icon="linkedInIcon" :height="24" :width="24" />
        </a>
      </div>
    </div>
  </ContentLayout>
</template>

<page-query>
query {
  contact:docPage(path:"/content/contact") {
    title,
    heading,
    address
    email,
    phone,
    facebook,
    instagram,
    twitter,
    linkedin,
    content
  }
}
</page-query>

<script>
import ButtonLink from '~/components/button-link.vue';
import Icon from '~/components/icon.vue';
import Icons from '~/models/icons';

export default {
  components: {
    ButtonLink,
    Icon
  },
  data() {
    return {
      instaIcon: Icons.Insta,
      twitterIcon: Icons.Twitter,
      facebookIcon: Icons.Facebook,
      linkedInIcon: Icons.LinkedIn
    };
  },
  computed: {
    address() {
      return this.$page.contact.address.replace(new RegExp(',', 'g'), '<br />');
    }
  },
  metaInfo() {
    return {
      title: this.$page.contact.title,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$page.contact.description
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
div.icons {
  display: flex;
  margin: 10px 0;

  div.link {
    display: flex;
    align-items: center;
    margin-right: 20px;

    a {
      margin-left: 5px;
      color: $default-font-color;

      &:hover {
        color: $theme-3;
      }
    }
  }
}
</style>
