<template>
  <Layout>
    <hero>
      <h1>
        The Flat Roofing Specialists
      </h1>

      <p>
        Specialists in the design, supply and installation of flat roofing
        systems to suit your home.
      </p>

      <template #buttons>
        <button-link to="/quote" large icon>Get a quote today</button-link>
        <button-link to="/services" large icon rotate type="secondary"
          >See how we can help you</button-link
        >
      </template>

      <template #secondary>
        <div class="cards">
          <card
            class="pad-right"
            image="flat-roofing.jpg"
            heading="Flat Roofing"
            mini
            overlay="Get a quote"
            link="/quote"
          />
          <card
            class="pad-right"
            image="garage-repair.jpg"
            heading="Garage Roof Repair"
            mini
            overlay="Get a quote"
            link="/quote"
          />
          <card
            image="roof-light.jpg"
            heading="Roof Lights"
            mini
            overlay="Get a quote"
            link="/quote"
          />
        </div>
      </template>
    </hero>

    <div class="content-block first-block">
      <container>
        <div v-html="$page.intro.content"></div>

        <div class="c2a">
          <button-link to="/quote" rounded large icon type="c2a"
            >Contact our team today for a free no obligation quote!</button-link
          >
        </div>
      </container>
    </div>

    <div class="content-block light-block no-border">
      <container>
        <div v-html="$page.about.content"></div>

        <hr />

        <div class="testimonial">
          <div v-html="$page.testimonial.content" />
        </div>
      </container>
    </div>

    <!-- <div class="content-block">
      <container>
        <h2>Latest blog posts</h2>

        <div class="cards">
          <card
            class="pad-right"
            image="flat-roofing.jpg"
            heading="SAP - New Build"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi
            tempus iaculis urna id volutpat. Quis blandit turpis cursus in hac
            habitasse. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames.
          </card>

          <card
            class="pad-right"
            image="flat-roofing.jpg"
            heading="SAP - Extension"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi
            tempus iaculis urna id volutpat. Quis blandit turpis cursus in hac
            habitasse. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames.
          </card>

          <card image="flat-roofing.jpg" heading="SAP - Extension">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi
            tempus iaculis urna id volutpat. Quis blandit turpis cursus in hac
            habitasse. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames.
          </card>
        </div>
      </container>
    </div> -->
  </Layout>
</template>

<page-query>
query {
  index:docPage(path:"/content/index") {
    title,
    description
  }
  intro:docPage(path:"/content/index/intro") {
    content,
  }
  about:docPage(path:"/content/index/about") {
    content,
  }
  testimonial:docPage(path:"/content/index/testimonial") {
    content,
  }
}
</page-query>

<script>
import ButtonLink from '~/components/button-link.vue';
import Container from '~/components/content-container.vue';
import Card from '~/components/card.vue';
import Hero from '~/components/hero.vue';

export default {
  components: {
    ButtonLink,
    Card,
    Container,
    Hero
  },
  metaInfo() {
    return {
      title: this.$page.index.title,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$page.index.description
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.home-links a {
  margin-right: 1rem;
}

@include max-size('lg') {
  div.first-block {
    padding-top: 0;
  }
}

div.cards {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;

  div.card {
    min-width: 300px;
    margin: 0 10px 20px;
  }

  @include min-size('lg') {
    flex-direction: row;
  }
}
</style>
