<template>
  <Layout>
    <div class="content-block header-offset">
      <container>
        <div v-html="$page.quote.content" />

        <div class="form">
          <form
            name="quote-form"
            method="POST"
            netlify-honeypot="bot-field"
            data-netlify="true"
            @submit.prevent="handleSubmit"
          >
            <div class="field">
              <label for="name">Your name</label>
              <input v-model="form.name" type="text" id="name" name="name" />
            </div>

            <div class="field">
              <label for="phone">Your phone number</label>
              <input v-model="form.phone" type="text" id="phone" name="phone" />
            </div>

            <div class="field">
              <label for="email">Your email</label>
              <input v-model="form.email" type="text" id="email" name="email" />
            </div>

            <div class="field no-show">
              <label for="bot-field">Don’t fill this out if you're human</label>
              <input v-model="form.honeypot" name="bot-field" />
            </div>

            <div class="field">
              <label for="quote">What would you like a quote for?</label>
              <textarea
                v-model="form.quote"
                id="quote"
                name="quote"
                rows="8"
              ></textarea>
            </div>

            <div class="field">
              <button type="submit" :disabled="isDisabled">
                Send &amp; Get a Quote
              </button>
              <p v-if="showError" class="error">{{ showError }}</p>
            </div>
          </form>
        </div>
      </container>
    </div>
  </Layout>
</template>

<page-query>
query {
  quote:docPage(path:"/content/quote") {
    title,
    description,
    heading,
    content
  }
}
</page-query>

<script>
import axios from 'axios';
import Container from '~/components/content-container.vue';
import ButtonLink from '~/components/button-link.vue';

export default {
  components: {
    ButtonLink,
    Container
  },
  data() {
    return {
      form: {
        name: '',
        phone: '',
        email: '',
        quote: '',
        honeypot: ''
      },
      error: ''
    };
  },
  computed: {
    isDisabled() {
      return !this.isValidated();
    },
    showError() {
      return this.error;
    }
  },
  methods: {
    isValidated() {
      if (
        this.form.name &&
        this.form.phone &&
        this.form.email &&
        this.form.quote &&
        !this.form.honeypot
      ) {
        return true;
      }

      return false;
    },
    encode(data) {
      return Object.keys(data)
        .map(
          key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
        )
        .join('&');
    },
    async handleSubmit() {
      this.error = '';

      const axiosConfig = {
        header: { 'Content-Type': 'application/x-www-form-urlencoded' }
      };

      try {
        await axios.post(
          '/',
          this.encode({
            'form-name': 'quote-form',
            ...this.form
          }),
          axiosConfig
        );

        this.$router.push('/thanks');
      } catch {
        this.error = 'Something went wrong, please try again.';
      }
    }
  },
  metaInfo() {
    return {
      title: this.$page.quote.title,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$page.quote.description
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.form {
  margin: 40px auto;

  @include min-size('lg') {
    width: 60%;
  }
}
</style>
