<template>
  <ContentLayout>
    <template #hero-text>
      <h1>
        A2B Roofing Services
      </h1>

      <p>
        We have the skills to solve your roofing problems today.
      </p>
    </template>

    <div v-html="$page.services.content" />

    <div class="c2a">
      <button-link to="/quote" rounded large icon type="c2a"
        >Contact our team today for a free no obligation quote!</button-link
      >
    </div>
  </ContentLayout>
</template>

<page-query>
query {
  services:docPage(path:"/content/services") {
    title,
    description
    content,
  }
}
</page-query>

<script>
import ButtonLink from '~/components/button-link.vue';

export default {
  components: {
    ButtonLink
  },
  metaInfo() {
    return {
      title: this.$page.services.title,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$page.services.description
        }
      ]
    };
  }
};
</script>
