<template>
  <Layout>
    <div class="content-block header-offset">
      <container>
        <div v-html="$page.thanks.content" />
      </container>
    </div>
  </Layout>
</template>

<page-query>
query {
  thanks:docPage(path:"/content/thanks") {
    title,
    content,
  }
}
</page-query>

<script>
import Container from '~/components/content-container.vue';

export default {
  components: {
    Container
  },
  metaInfo() {
    return {
      title: this.$page.thanks.title,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$page.thanks.description
        }
      ]
    };
  }
};
</script>
