<template>
  <header class="header" ref="header">
    <container>
      <div class="inner">
        <div class="left">
          <g-link to="/" class="logo"
            ><img src="/img/logo.svg" height="80"
          /></g-link>
        </div>

        <div class="right">
          <div class="nav">
            <navigation :scrolled="scrolled" />
          </div>

          <div class="contact-details">
            <div class="phone-link">
              <a :href="'tel:' + $static.contact.phone">
                <Icon :icon="phoneIcon" :height="16" :width="16" />
                {{ $static.contact.phone }}
              </a>
            </div>

            <div class="social">
              <div class="social-link">
                <a
                  :href="$static.contact.twitter"
                  target="_blank"
                  aria-label="Twitter"
                  rel="noreferrer"
                >
                  <icon :icon="twitterIcon" :height="24" :width="24" />
                </a>
              </div>

              <div class="social-link">
                <a
                  :href="$static.contact.facebook"
                  target="_blank"
                  aria-label="Facebook"
                  rel="noreferrer"
                >
                  <icon :icon="facebookIcon" :height="18" :width="18" />
                </a>
              </div>

              <div class="social-link">
                <a
                  :href="$static.contact.instagram"
                  target="_blank"
                  aria-label="Instagram"
                  rel="noreferrer"
                >
                  <icon :icon="instaIcon" :height="24" :width="24" />
                </a>
              </div>

              <div class="social-link">
                <a
                  :href="$static.contact.linkedin"
                  target="_blank"
                  aria-label="LinkedIn"
                  rel="noreferrer"
                >
                  <icon :icon="linkedInIcon" :height="24" :width="24" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </container>
  </header>
</template>

<static-query>
query {
  metadata {
    siteName
  }

  index:docPage(path:"/content/index") {
    title
  }

  contact:docPage(path:"/content/contact") {
    phone,
    mobile,
    facebook,
    instagram,
    twitter,
    linkedin
  }
}
</static-query>

<script>
import Container from '~/components/content-container.vue';
import Navigation from './navigation.vue';
import Icon from '../icon.vue';
import Icons from '~/models/icons';

export default {
  name: 'Header',
  components: {
    Container,
    Navigation,
    Icon
  },
  data() {
    return {
      scrolled: false,
      phoneIcon: Icons.Phone,
      mobileIcon: Icons.Mobile,
      instaIcon: Icons.Insta,
      twitterIcon: Icons.Twitter,
      facebookIcon: Icons.Facebook,
      linkedInIcon: Icons.LinkedIn
    };
  },
  mounted() {
    document.removeEventListener('scroll', () => this.onScroll());
    document.addEventListener('scroll', () => this.onScroll());
  },
  methods: {
    onScroll() {
      if (window.scrollY === 0) {
        if (this.$refs.header) {
          this.$refs.header.classList.remove('scrolled');
          this.scrolled = false;
        }
      } else {
        if (this.$refs.header) {
          this.$refs.header.classList.add('scrolled');
          this.scrolled = true;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.logo {
  font-size: 24px;
}

.header {
  display: flex;
  height: $header-height;
  width: 100%;
  background-color: $hero-bg;
  padding: 0 40px;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: background 0.4s ease;

  div.inner {
    height: 100%;
    display: flex;
    justify-content: space-between;

    div.left {
      display: flex;
      align-items: center;
    }

    div.right {
      display: flex;
      flex-direction: column;

      div.nav {
        height: 80px;
        display: flex;
        align-items: center;
      }
    }

    div.top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    div.contact-details {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      div.phone-link {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 10px;
        }
      }

      div.social {
        display: none;
        align-items: center;
        margin-left: 10px;

        @include min-size('md') {
          display: flex;
        }

        a {
          margin: 0 10px;
        }
      }

      a {
        @include text-hover($header-link-active, $footer-font);
      }
    }
  }

  &.scrolled {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    background-color: white;

    div.inner div.right div.contact-details {
      a {
        @include text-hover($header-link-scrolled, $theme-3);
      }
    }
  }

  a {
    display: flex;
    align-items: center;
  }
}

.nav__link {
  margin-left: 20px;
}
</style>
