<template>
  <nav class="nav" :class="{ scrolled: scrolled }">
    <div class="icon-button" @click="toggleMenu">
      <icon :icon="expandIcon" :width="22" :height="22" />
    </div>
    <div :class="{ expanded }" class="nav-menu">
      <container>
        <g-link class="menu-link" to="/">Home</g-link>
        <hr />
        <g-link class="menu-link" to="/about">About</g-link>
        <hr />
        <g-link class="menu-link" to="/services">Services</g-link>
        <hr />
        <g-link class="menu-link" to="/contact">Contact</g-link>
      </container>
    </div>
    <g-link class="nav__link main" to="/about/">About</g-link>
    <g-link class="nav__link main" to="/services/">Services</g-link>
    <g-link class="nav__link main highlight" to="/contact/">Contact</g-link>
  </nav>
</template>

<script>
import Container from '~/components/content-container.vue';
import Icon from '../icon.vue';
import Icons from '~/models/icons';

export default {
  name: 'Navigation',
  components: {
    Container,
    Icon
  },
  props: {
    scrolled: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data() {
    return {
      expandIcon: Icons.Bars,
      expanded: false
    };
  },
  methods: {
    toggleMenu() {
      this.expanded = !this.expanded;
      this.expandIcon = this.expanded ? Icons.Cross : Icons.Bars;
    }
  }
};
</script>

<style lang="scss" scoped>
.nav {
  display: flex;
  width: 100%;

  .nav__link {
    margin-left: 20px;
  }

  a.main {
    display: none;
  }

  .icon-button {
    cursor: pointer;
    user-select: none;
    margin: 0 10px 0 auto;
  }

  .nav-menu {
    position: absolute;
    top: $header-height;
    left: 0;
    background-color: $hero-bg;
    padding: 20px;
    width: 100%;
    z-index: 1;
    transform: scale(0, 0);
    transform-origin: top;
    transition: transform 0.3s ease;
    user-select: none;

    &.expanded {
      transform: scale(1, 1);
    }

    a {
      @include text-hover($header-link-active, $footer-font);
    }

    hr {
      border: 0;
      border-bottom: 1px solid lighten($hero-bg, 10%);
      display: block;
      height: 1px;
      margin: 10px 0;
      padding: 0;
    }
  }

  @include min-size('md') {
    a.main {
      display: block;
    }

    .icon-button,
    .nav-menu {
      display: none;
    }
  }

  &.scrolled {
    .icon-button {
      color: $header-link-scrolled;
    }

    .nav__link {
      color: $header-link-scrolled;

      &:hover {
        border: 2px solid $header-link-scrolled;
      }

      &.highlight {
        &:hover {
          border: 2px solid $theme-3;
        }
      }

      &.active--exact {
        color: $header-link;
      }
    }

    .nav-menu {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
      background-color: $header-link-scrolled;

      .nav__link {
        color: $header-link-scrolled;

        &.active--exact {
          color: $header-link;
        }
      }
    }
  }
}
</style>
