<template>
  <div class="light-block">
    <container>
      <div class="accreditations">
        <img
          src="/img/accreditations/sika-trocal-logo.png"
          alt="Sika Trocal"
          height="70"
          width="253"
        />
        <img
          src="/img/accreditations/BBA-Logo.jpg"
          alt="BBA"
          height="70"
          width="126"
        />
        <img
          src="/img/accreditations/Purple_RGB_Accredited.jpg"
          alt="Purle RGB Accredited"
          height="70"
          width="132"
        />
      </div>
    </container>
  </div>
</template>

<script>
import Container from './content-container.vue';

export default {
  name: 'Accreditations',
  components: {
    Container
  }
};
</script>

<style lang="scss" scoped>
.light-block {
  padding: 40px 0;
}

.accreditations {
  display: flex;
  flex-wrap: wrap;

  img {
    margin: 10px 40px 10px 0;
  }
}
</style>
