<template>
  <div @click="onClick">
    <g-link
      :to="linkTo"
      class="button-link"
      :class="[
        { rounded: rounded, large: large, icon: icon, rotate: rotate },
        type
      ]"
    >
      <span>
        <slot />
      </span>
      <span v-if="icon" class="right-icon">
        <icon :icon="rightIcon" :width="18" :height="18" />
      </span>
    </g-link>
  </div>
</template>

<script>
import Icon from './icon.vue';
import Icons from '~/models/icons';

export default {
  name: 'ButtonLink',
  components: {
    Icon
  },
  data: () => {
    return {
      rightIcon: Icons.ArrowRight
    };
  },
  props: {
    to: {
      type: String,
      required: true
    },
    rounded: {
      type: Boolean,
      required: false,
      default: false
    },
    type: {
      type: String,
      required: false,
      default: 'primary'
    },
    large: {
      type: Boolean,
      required: false,
      default: false
    },
    icon: {
      type: Boolean,
      required: false,
      default: false
    },
    rotate: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    linkTo() {
      return this.to.includes('#') ? '' : this.to;
    }
  },
  methods: {
    onClick() {
      if (this.to.includes('#')) {
        document.querySelector(this.to).scrollIntoView({
          behavior: 'smooth'
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.button-link {
  padding: 8px 22px;
  text-decoration: none;
  border-radius: 4px;

  &.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .right-icon {
      width: 40px;
      transition: padding 0.2s;

      .icon {
        transition: transform 0.2s;
        margin-left: auto;
      }
    }
  }

  &:hover {
    .right-icon {
      padding-right: 5px;
    }

    &.rotate {
      .right-icon {
        padding-right: 0;

        .icon {
          transform: rotate(90deg);
        }
      }
    }
  }

  &.primary {
    border: 1px solid $theme-3;
    background-color: $theme-3;
    color: #fff;

    &:hover {
      background-color: lighten($theme-3, 3%);
      border: 1px solid $theme-3;
    }
  }

  &.secondary {
    border: 1px solid $theme-4;
    background-color: $theme-4;
    color: #fff;

    &:hover {
      border: 1px solid $theme-4;
      background-color: lighten($theme-4, 3%);
    }
  }

  &.c2a {
    border: 1px solid $hero;
    background-color: $hero;
    color: $hero-font;

    &:hover {
      border: 1px solid $hero;
      background-color: lighten($hero, 3%);
    }
  }

  &.large {
    padding: 8px 38px;

    &.icon {
      padding: 8px 16px;
    }
  }

  &.rounded {
    border-radius: 30px;

    &.large {
      padding: 16px 38px;
    }
  }
}
</style>
