<template>
  <div class="card" :class="{ mini: mini }">
    <span class="image" :style="imageStyle">
      <span v-if="mini" class="overlay">
        <a :href="link" class="btn">{{ overlay }}</a>
      </span>
    </span>

    <div class="content">
      <a :href="link">
        <span class="heading"
          >{{ heading }} <icon v-if="mini" :icon="rightIcon" class="icon"
        /></span>
      </a>

      <div v-if="!mini" class="description">
        <slot />
      </div>

      <icon v-if="!mini" :icon="rightIcon" class="icon" />
    </div>
  </div>
</template>

<script>
import Icon from './icon.vue';
import Icons from '~/models/icons';

export default {
  name: 'Card',
  components: {
    Icon
  },
  props: {
    image: {
      type: String,
      required: true
    },
    heading: {
      type: String,
      required: true
    },
    mini: {
      type: Boolean,
      default: false,
      required: false
    },
    overlay: {
      type: String,
      required: false,
      default: 'Read more'
    },
    link: {
      type: String,
      required: false,
      default: ''
    }
  },
  data: () => {
    return {
      rightIcon: Icons.ArrowRight
    };
  },
  computed: {
    imageStyle() {
      return {
        background: `
          linear-gradient(
          135deg, rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%),
          url('/img/${this.image}') repeat
        `,
        backgroundSize: 'cover'
      };
    }
  }
};
</script>

<style lang="scss" scoped>
div.card {
  width: 100%;
  background-color: $light-bg;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 rgba(10, 16, 34, 0.2);
  border: 1px solid $default-border-color;
  cursor: pointer;

  @include max-size('md') {
    margin-bottom: 20px;
  }

  &:hover {
    box-shadow: 0 5px 15px -5px rgba(10, 16, 34, 0.2);
    border: 1px solid $theme-3;

    div.content {
      span.heading {
        color: $theme-3;
      }

      .icon {
        margin-right: 15px;
        color: $theme-3;
      }
    }

    &.mini {
      span.image {
        span.overlay {
          background-color: rgba(0, 0, 0, 0.5);

          a {
            opacity: 1;
          }
        }
      }

      div.content {
        span.heading {
          .icon {
            margin-right: 15px;
          }
        }
      }
    }
  }

  &.mini {
    span.image {
      height: 240px;

      span.overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        transition: background 0.4s ease;

        a {
          transition: opacity 0.4s ease;
          opacity: 0;
          background-color: $theme-3;
          color: #fff;
          text-decoration: none;
          border-radius: 30px;
          padding: 6px 22px;
          font-size: 14px;
        }
      }
    }

    div.content {
      text-align: center;

      span.heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon {
          margin: 0;
          transition: margin 0.2s;
        }
      }
    }
  }

  span.image {
    display: block;
    width: 100%;
    height: 140px;
  }

  div.content {
    padding: 20px;

    div.description {
      margin: 15px 0;
      font-size: 13px;
      line-height: 23px;
    }

    span.heading {
      font-size: 20px;
      line-height: 24px;
      font-weight: 900;
      letter-spacing: -0.04em;
      text-decoration: none;
      display: block;
      color: #333;
      margin: 0 auto;
      position: relative;
      z-index: 3;
      transition: all 0.2s;
    }

    .icon {
      margin: 20px 0 0 auto;
      transition: margin 0.2s;
    }
  }
}
</style>
