<template>
  <div class="content-container">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'ContentContainer'
};
</script>

<style lang="scss">
div.content-container {
  padding: 0 20px;
  margin: 0 auto;
  @include media-sizes;
}
</style>
