<template>
  <footer>
    <content-container>
      <div class="links">
        <g-link to="/" class="nav__link">Home</g-link>
        <g-link to="/about" class="nav__link">About</g-link>
        <g-link to="/about" class="nav__link">Services</g-link>
        <!-- <g-link to="/about" class="nav__link">Work</g-link>
        <g-link to="/about" class="nav__link">Blog</g-link> -->
        <g-link to="/about" class="nav__link">Contact</g-link>
      </div>

      <div class="social">
        <div class="social-link">
          <a
            :href="$static.contact.twitter"
            target="_blank"
            aria-label="Twitter"
            rel="noreferrer"
          >
            <icon :icon="twitterIcon" :height="24" :width="24" />
          </a>
        </div>

        <div class="social-link">
          <a
            :href="$static.contact.facebook"
            target="_blank"
            aria-label="Facebook"
            rel="noreferrer"
          >
            <icon :icon="facebookIcon" :height="18" :width="18" />
          </a>
        </div>

        <div class="social-link">
          <a
            :href="$static.contact.instagram"
            target="_blank"
            aria-label="Instagram"
            rel="noreferrer"
          >
            <icon :icon="instaIcon" :height="24" :width="24" />
          </a>
        </div>

        <div class="social-link">
          <a
            :href="$static.contact.linkedin"
            target="_blank"
            aria-label="LinkedIn"
            rel="noreferrer"
          >
            <icon :icon="linkedInIcon" :height="24" :width="24" />
          </a>
        </div>
      </div>

      <div class="notices">
        <p>
          Guaranteed Roofing Solutions trading as A2BRoofing is registered at
          Companies House England and Wales.
        </p>

        <p>
          Reg date: {{ $static.contact.regDate }} | Company number:
          {{ $static.contact.companyNo }}
          <!-- <g-link to="/privacy">Privacy Policy</g-link> -->
        </p>

        <p>&copy; A2BRoofing 2019. All rights reserved.</p>
      </div>
    </content-container>
  </footer>
</template>

<static-query>
query {
  contact:docPage(path:"/content/contact") {
    address,
    email,
    phone,
    mobile,
    facebook,
    instagram,
    twitter,
    linkedin,
    regDate,
    companyNo
  }
}
</static-query>

<script>
import Icon from './icon.vue';
import Icons from '~/models/icons';
import ContentContainer from './content-container.vue';

export default {
  name: 'Footer',
  components: {
    Icon,
    ContentContainer
  },
  data: () => {
    return {
      phoneIcon: Icons.Phone,
      mobileIcon: Icons.Mobile,
      instaIcon: Icons.Insta,
      twitterIcon: Icons.Twitter,
      facebookIcon: Icons.Facebook,
      linkedInIcon: Icons.LinkedIn
    };
  }
};
</script>

<style lang="scss" scoped>
footer {
  background-color: $footer-bg;

  div.links {
    display: flex;
    justify-content: center;
    padding: 40px 0 0;
    flex-wrap: wrap;

    a {
      margin: 0 0 20px 30px;
      margin-left: 30px;
      color: $footer-link-color;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        border-color: $footer-link-color;
      }

      &.active {
        background-color: transparent;
        border: 2px solid transparent;

        &:hover {
          border-color: $footer-link-color;
        }
      }
    }
  }

  div.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;

    div.social-link {
      margin: 0 20px;

      a {
        @include text-hover($header-link-active, $footer-font);
      }
    }
  }

  div.notices {
    padding-bottom: 20px;

    a {
      color: $header-link-active;
      border-bottom: 1px dotted $header-link-active;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $header-link-active;
      }
    }

    p {
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      margin: 0 0 20px;
    }
  }
}
</style>
