<template>
  <div class="call-to-action">
    <content-container>
      <div class="content">
        <div class="quote">
          <div class="description">
            <span class="heading">
              Get a free quote now.
            </span>

            <p>
              We can provide you with a free, no obligation quote for all your
              roofing needs.
            </p>

            <g-link to="/quote" class="btn theme-1">
              Get your quote now
            </g-link>
          </div>
        </div>

        <div class="question">
          <div class="description">
            <span class="heading">
              Got a question?
            </span>

            <p>
              Not sure what you need or looking for some advice? Ask a question
              and we'll get back to you.
            </p>

            <g-link to="/contact" class="btn theme-2">
              Ask today
            </g-link>
          </div>
        </div>
      </div>
    </content-container>
  </div>
</template>

<script>
import ContentContainer from './content-container.vue';

export default {
  name: 'CallToAction',
  components: {
    ContentContainer
  }
};
</script>

<style lang="scss" scoped>
div.call-to-action {
  background-color: $call-to-action-bg;

  div.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    span.heading {
      color: $call-to-action-heading;
      font-weight: 700;
      font-size: 36px;
      margin: 0;
      letter-spacing: -0.05em;
    }

    div.quote,
    div.question {
      padding: 80px 20px;
      display: flex;
      width: 100%;

      div.description {
        text-align: center;
        max-width: 440px;
        margin: 0 auto;

        p {
          margin: 25px 0;
        }
      }
    }

    div.quote {
      border-bottom: 1px solid $footer-bg;
    }

    @include min-size('md') {
      flex-direction: row;

      div.quote,
      div.question {
        width: 50%;
      }

      div.quote {
        border-right: 1px solid $footer-bg;
        border-bottom: 0;
      }
    }
  }
}
</style>
