<template>
  <section class="hero" :class="{ 'text-only': textOnly }">
    <container>
      <div class="inner">
        <slot />

        <div class="buttons">
          <slot name="buttons" />
        </div>
      </div>
    </container>

    <div v-if="!textOnly" class="secondary-text">
      <slot name="secondary" />
    </div>
  </section>
</template>

<script>
import Container from './content-container.vue';

export default {
  name: 'Hero',
  components: {
    Container
  },
  props: {
    textOnly: {
      type: Boolean,
      default: false,
      required: false
    }
  }
};
</script>

<style lang="scss">
.hero {
  background: linear-gradient(
      135deg,
      $hero-bg 21px,
      darken($hero-bg, 5%) 22px,
      darken($hero-bg, 5%) 24px,
      transparent 24px,
      transparent 67px,
      darken($hero-bg, 5%) 67px,
      darken($hero-bg, 5%) 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        $hero-bg 21px,
        darken($hero-bg, 5%) 22px,
        darken($hero-bg, 5%) 24px,
        transparent 24px,
        transparent 67px,
        darken($hero-bg, 5%) 67px,
        darken($hero-bg, 5%) 69px,
        transparent 69px
      )
      0 64px;
  background-color: $hero-bg;
  background-size: 64px 128px;
  // background-color: $hero-bg;
  margin: $header-height 0;

  // @include min-size('lg') and (min-width: $lg-inner-width) {
  //   height: 56vh;
  // }

  @media (min-height: 600px) and (min-width: $lg-inner-width) {
    height: 66vh;
  }

  @media (min-height: 1200px) and (min-width: $lg-inner-width) {
    height: 46vh;
  }

  // @media (min-height: 800px) and (min-width: $lg-inner-width) {
  //   height: auto;
  // }

  .inner {
    width: 78%;
    margin: 0 auto;
  }

  h1 {
    padding-top: 60px;
    margin-bottom: 44px;
    color: $hero-font;
    @include hero-text-animation;
  }

  p {
    font-size: 24px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: $hero-font;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.3px;
    margin: 44px 40px;
    text-align: center;
    @include hero-text-animation;
  }

  div.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 44px auto;

    @include min-size('md') {
      flex-direction: row;

      a:first-child {
        margin-right: 40px;
      }
    }

    a:first-child {
      margin-bottom: 20px;
    }
  }

  div.secondary-text {
    display: flex;
    width: 100%;
    margin: 30px auto;
  }

  &.text-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin-bottom: 0;
  }
}
</style>
