<template>
  <div class="icon" :style="style">
    <svg :height="height" :width="width" :viewBox="icon.viewBox">
      <path
        :d="p.path"
        :fill="color || p.color"
        v-for="(p, index) in icon.paths"
        :key="index"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'Icon',
  computed: {
    style() {
      return `height: ${this.height}px; width: ${this.width}px`;
    }
  },
  props: {
    icon: {
      type: Object
    },
    height: {
      default: 24,
      type: Number
    },
    width: {
      default: 24,
      type: Number
    },
    color: {
      default: null,
      type: String
    }
  }
};
</script>

<style scoped lang="scss">
div.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  svg {
    margin: auto;
  }
}
</style>
