<template>
  <div class="quick-contact form">
    <h4>Quick Contact</h4>
    <form
      name="quick-contact-form"
      method="POST"
      netlify-honeypot="bot-field"
      data-netlify="true"
      @submit.prevent="handleSubmit"
    >
      <div class="field">
        <label for="name">Your name</label>
        <input v-model="form.name" type="text" id="name" name="name" />
      </div>

      <div class="field">
        <label for="phone">Your phone number</label>
        <input v-model="form.phone" type="text" id="phone" name="phone" />
      </div>

      <div class="field">
        <label for="email">Your email</label>
        <input v-model="form.email" type="text" id="email" name="email" />
      </div>

      <div class="field no-show">
        <label for="bot-field">Don’t fill this out if you're human</label>
        <input v-model="form.honeypot" name="bot-field" />
      </div>

      <div class="field">
        <label for="enquiry">Your enquiry</label>
        <textarea
          v-model="form.enquiry"
          id="enquiry"
          name="enquiry"
          rows="3"
        ></textarea>
      </div>

      <div class="field">
        <button type="submit" :disabled="isDisabled">Send Enquiry</button>
        <p v-if="showError" class="error">{{ showError }}</p>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'QuickContact',
  data() {
    return {
      form: {
        name: '',
        phone: '',
        email: '',
        enquiry: '',
        honeypot: ''
      },
      error: ''
    };
  },
  computed: {
    isDisabled() {
      return !this.isValidated();
    },
    address() {
      return this.$page.contact.address.replace(new RegExp(',', 'g'), '<br />');
    },
    showError() {
      return this.error;
    }
  },
  methods: {
    isValidated() {
      if (
        this.form.name &&
        this.form.phone &&
        this.form.email &&
        this.form.enquiry &&
        !this.form.honeypot
      ) {
        return true;
      }

      return false;
    },
    encode(data) {
      return Object.keys(data)
        .map(
          key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
        )
        .join('&');
    },
    async handleSubmit() {
      this.error = '';

      const axiosConfig = {
        header: { 'Content-Type': 'application/x-www-form-urlencoded' }
      };

      try {
        await axios.post(
          '/',
          this.encode({
            'form-name': 'quick-contact-form',
            ...this.form
          }),
          axiosConfig
        );

        this.$router.push('/thanks');
      } catch {
        this.error = 'Something went wrong, please try again.';
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.form {
  h4 {
    margin-bottom: 10px;
    font-weight: 600;
  }

  .field {
    input {
      margin-bottom: 10px;
    }

    button {
      border: 0;
    }
  }
}
</style>
