<template>
  <div class="layout">
    <Header />

    <hero text-only>
      <slot name="hero-text" />
      <!-- 
      <template #buttons>
        <button-link to="/contact" large icon>Contact us today</button-link>
        <button-link to="#moreinfo" large icon rotate type="secondary"
          >See how we can help you</button-link
        >
      </template>

      <template #secondary>
        <div class="cards">
          <card
            class="pad-right"
            image="flat-roofing.jpg"
            heading="Flat Roofing"
            mini
          />
          <card
            class="pad-right"
            image="garage-repair.jpg"
            heading="Garage Roof Repair"
            mini
          />
          <card image="roof-light.jpg" heading="Roof Lights" mini />
        </div>
      </template> -->
    </hero>

    <div class="content-block light-block no-border">
      <container>
        <div class="page">
          <div class="content" ref="content">
            <slot />
          </div>

          <div class="sidebar" ref="sidebar">
            <div class="sticky">
              <quick-contact />
            </div>
          </div>
        </div>
      </container>
    </div>

    <accreditations />
    <footer-action />
    <Footer />
  </div>
</template>

<script>
import Container from '~/components/content-container.vue';
import Header from '~/components/header/header.vue';
import Hero from '~/components/hero.vue';
import Accreditations from '~/components/accreditations.vue';
import Footer from '~/components/footer.vue';
import FooterAction from '~/components/footer-c2a.vue';
import QuickContact from '~/components/quick-contact.vue';

export default {
  components: {
    Container,
    Header,
    Hero,
    Accreditations,
    Footer,
    FooterAction,
    QuickContact
  },
  methods: {},
  mounted() {
    const maxHeight = `${this.$refs.content.clientHeight}px`;
    this.$refs.sidebar.style.maxHeight = maxHeight;
  }
};
</script>

<style lang="scss">
.page {
  display: flex;
  position: relative;
  padding: 40px 0;

  h2 {
    text-align: left;
  }

  .content {
    flex: 1 1 calc(75% - 40px);
    margin-right: 40px;
  }

  .sidebar {
    display: none;
    flex: 0 0 25%;
    position: relative;

    .sticky {
      position: sticky;
      position: sticky;
      top: 130px;
      padding-bottom: 50px;
    }

    @include min-size('lg') {
      display: block;
    }
  }
}
</style>
