<template>
  <div class="layout">
    <Header />

    <slot />

    <accreditations />
    <footer-action />
    <Footer />
  </div>
</template>

<script>
import Header from '~/components/header/header.vue';
import Accreditations from '~/components/accreditations.vue';
import Footer from '~/components/footer.vue';
import FooterAction from '~/components/footer-c2a.vue';

export default {
  components: {
    Header,
    Accreditations,
    Footer,
    FooterAction
  }
};
</script>

<style lang="scss"></style>
